body{
    min-height: 100vh;
    background-color: #DF9597;
    /*background-color: #4A4453;*/
}
.c1{
    background-color: #FFE4E4;
    
    /*background-color: #AFA8BA;*/
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}