/*_______________COMPONENTES_________________*/

body {
    min-height: 100vh;
    background-color: rgb(124, 92, 63);
}
body.login{
    background-color: #E5B580;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

ul {
    list-style: none;
    margin-right: auto;
}

ul[id=opciones-menu] li {
    border: 2px solid black;
    width: 150px;
    text-align: center;
    display: inline-block;
    background-color:  rgb(124, 92, 63);
}

a {
    text-decoration: none;
    color: black;
}
img.foto{
    width: 100%;
    height: 260px;
    border: 5px solid #E5B580;
}
img.login{
    width: 30rem;
    justify-content: center;
}
p, h4{
    text-align: center;
    margin:0;
}
/*__________________FLEX_________________*/

.d-flex {
    display: flex;
}
.centrar-vertical {
    display: flex;
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.flex-column{
    flex-direction: column;
}

/*_________________FLOAT__________________*/

.float-r {
    float: right;
}

.float-l {
    float: left;
}

/*________________MARGENES_________________*/

.mx-1 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.ml-1 {
    margin-left: 40px;
}
.mr-1 {
    margin-right: 40px;
}

.ml-2{
    margin-left: 1.20% !important;
}
.mr-2{
    margin-right: 1.20% !important;
}

.mt-1{
    margin-top: 5rem;
}
.pl-1{
    padding-left: 6rem;
}
/*________________TAMAÑOS_________________*/

.height-1 {
    height: 7rem;
}

.height-2 {
    height: 1rem;
}

i {
    font-size: 3rem;
}


/*________________COLORES_________________*/

.naranja-claro {
    background-color: #E5B580;
}
.red{
    background-color: tomato;
}

/*_____________MENU HAMBURGUESA_____________*/

#menu {
    width: 40px;
    height: 40px;
}

@media (min-width: 600px) {
    #menu {
        visibility: hidden;
    }
}

@media (max-width: 600px) {
    #menu {
        visibility: visible;
    }
}