/*_______________COMPONENTES_________________*/

body {
    min-height: 100vh;
    background-color: #C89CD3;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

ul {
    list-style: none;
    margin-right: auto;
}

li {
    border: 2px solid black;
    width: 150px;
    text-align: center;
    display: inline-block;
    background-color: #C89CD3;
}

a {
    text-decoration: none;
    color: black;
}


/*__________________FLEX_________________*/

.d-flex {
    display: flex;
}

.align-self-center {
    align-self: center;
}


/*_________________FLOAT__________________*/

.float-r {
    float: right;
}

.float-l {
    float: left;
}

.centrar-vertical {
    display: flex;
    align-items: center;
}


/*________________MARGENES_________________*/

.mx-1 {
    margin-left: 15px;
    margin-right: 15px;
}

.ml-1 {
    margin-left: 40px;
}

.mr-1 {
    margin-right: 40px;
}


/*________________TAMAÑOS_________________*/

.height-1 {
    height: 7rem;
}

.height-2 {
    height: 1rem;
}

i {
    font-size: 3rem;
}


/*________________COLORES_________________*/

.morado-claro {
    background-color: #F1D5F8;
}


/*_____________MENU HAMBURGUESA_____________*/

#menu {
    width: 40px;
    height: 40px;
}

@media (min-width: 600px) {
    #menu {
        visibility: hidden;
    }
}

@media (max-width: 600px) {
    #menu {
        visibility: visible;
    }
}